.container{
    margin-top: 30px;
}
.open {
    background-image: url("http://placehold.it/50x20/25e01b/000000&text=OPEN");
    background-repeat: no-repeat;
}

.closed {
    background-image: url("http://placehold.it/50x20/ed216c/000000&text=CLOSED");
    background-repeat: no-repeat;
}

.comment {
    background-image: url("http://placehold.it/50x20/edea21/000000&text=COMMENT");
    background-repeat: no-repeat;
}
.head-text{
    font-size: 20px;
    margin-left: 40px;
    vertical-align: bottom;
}

.logo {
    margin-top: -40px;
    height: 60px;
}
.logo-text {
    margin-top: 10px;
    font-size: 45px;
}

.center-section{
    background-color: #ebf6f8;
}

.intro {
    margin-top: 20px;
    margin-bottom: 20px;
}

#spinner {
    float:none;
    margin:0 auto;
}

.gray {
    color: gray;
}

.title {
    margin-left: 60px;
}

.makespace{
    margin-top: 20px;
}

.sponsor_image {
    height: 64px;
    width: 220px;
}

.indented {
    margin-left: 5%;
    color: blue;
    text-wrap:normal;
    overflow-wrap:break-word;
}
