.container{
    margin-top: 30px;
}
.activity-open {
    background-image: url("../images/open.png");
    background-repeat: no-repeat;
}

.activity-closed {
    background-image: url("../images/closed.png");
    background-repeat: no-repeat;
}

.activity-comment {
    background-image: url("../images/comment.jpg");
    background-repeat: no-repeat;
}
.head-text{
    font-size: 20px;
    margin-left: 60px;
    vertical-align: 22px;
}

img.project_activity_image{
    height: 30px;
    margin-top: 1%;
    margin-left: -10%;
}

#team-members{
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom: 30px;
    text-align: center;
}

.member-row{
    margin-bottom: 10px;
    text-align: center;
    width: auto;
}

#team-members img {
    border-radius: 10px;
}

.logo {
    margin-top: -40px;
    height: 150px;
}

.para{
    display: inline-block;
    margin-top: -10%;
    margin-left: 5%;
    margin-right: 15%;
}

.logo-text {
    margin-top: 10px;
    font-size: 45px;
}

/*.start-your-own-project{*/
    /*margin-left: 80%;*/
    /*margin-top: -20%;*/
/*}*/

.start-your-own-project img{
    margin-left: 80%;
    margin-top: -20%;
}
.outdent img{
    margin-left: -30px;
    width: 5%;
}

.center-section{
    margin-top: -30px;
    border-radius: 10px;
    background-color: #ebf6f8;
}

.center-section h3{
    padding-left: 20px;
}

.center-section .center-content{
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding-left: 10%;
    padding-right: 10%
}

/*.center-section .center-content img{*/
    /*display: inline;*/
    /*margin: auto;*/
/*}*/

.center-section img{
    max-width: 100%;
}

.social{
    margin-top: -1%;
}

.intro {
    margin-top: -5%;
    margin-bottom: 5%;
    margin-left: 30px;
}

.right-nav{
    padding-left: 1%;
    margin-top: -5%;
}

#spinner {
    float:none;
    margin:0 auto;
}

.gray {
    color: gray;
}

.left-nav{
    margin-top: -30px;
}

.title {
    margin-left: 1%;
}

.makespace{
    margin-top: 20px;
}

.sponsor_image {
    height: 64px;
    width: 220px;
}

.indented {
    margin-left: 5%;
    color: blue;
    text-wrap:normal;
    overflow-wrap:break-word;
}
