.container{
    margin-top: 30px;
}
.activity-open {
    background-image: url("../images/open.gif");
    background-repeat: no-repeat;
}

.activity-closed {
    background-image: url("../images/closed.gif");
    background-repeat: no-repeat;
}

.activity-comment {
    background-image: url("../images/comment.gif");
    background-repeat: no-repeat;
}
.head-text{
    font-size: 20px;
    margin-left: 60px;
    vertical-align: 22px;
}

#company-name{
    font-size: 20px;
    font-weight: bold;
    margin-left: 4%;
}

#tag-line{
    font-size: 14px;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 4%;
}

img.project_activity_image{
    height: 20px;
    margin-top: 1%;
    margin-left: -10%;
}

.see-more{
    margin-left: 2%;
    margin-bottom: 2%;
}

.see-more a, .see-more a:hover{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: normal;
}

.center-leader{
    font-size: 20px;
    font-weight: bold;
    margin-left: 2%;
    margin-bottom: 1%;
}

.project-activity-item{
    display: block;
    margin-left: 10%;
}

.project-activity-item a:hover{
    text-decoration: none;
}

#team-members{
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 12px;
}

.member-row{
    margin-bottom: 10px;
    text-align: center;
    width: auto;
}

#team-members img {
    border-radius: 10px;
}

.logo {
    margin-top: -40px;
    height: 150px;
}

.para{
    display: inline-block;
    margin-top: -10%;
    margin-left: 4%;
    margin-right: 15%;
}

.logo-text {
    margin-top: 10px;
    font-size: 45px;
}

.start-your-own-project img{
    margin-left: 80%;
    margin-top: -20%;
}
.outdent img{
    margin-left: -30px;
    width: 5%;
}

.center-section{
    margin-top: -30px;
    border-radius: 10px;
    background-color: #ebf6f8;
}

.center-section h3{
    padding-left: 20px;
}

.center-section .center-content{
    display: block;
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    /*padding-left: 20px;*/
    /*padding-right: 20px;*/
}

.center-section img{
    vertical-align: top;
    max-width: 100%;
}

.center-text{
    margin-top: 5%;
}

#join-laws{
    font-weight: bold;
}

.emphasis{
    font-size: 20px;
    color: #B0DFE4;
}

.social{
    margin-top: -1%;
}

.links{
    margin-bottom: 2%;
}

.links a{
    color: gray;
}

.intro {
    margin-top: -32px;
    margin-bottom: 5%;
    margin-left: 30px;
}

.right-nav{
    padding-left: 1%;
    margin-top: -5%;
}

#spinner {
    float:none;
    margin:0 auto;
}

.gray {
    color: gray;
}

.left-nav{
    margin-top: -30px;
}

.left-nav img{
    width: 130px;
}

.title {
    display: inline-block;
    color: black;
    text-decoration: none;
    margin-left: 1%;
}

.makespace{
    margin-top: 20px;
}

.sponsor_image {
    height: 110px;
    width: 220px;
}

.indented{
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 6%;
}

.indented a{
    color: black;
    text-decoration: none;
    text-wrap:normal;
    overflow-wrap:break-word;
}


.indented a:hover{
    color: black;
    text-decoration: none;
    text-wrap:normal;
    overflow-wrap:break-word;
}
