/*Hide mobile view normally*/

#mobile-twitter-feed{
    display: none;
}
#mobile-twitter-lead{
    display: none;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

#team_photo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#group_photo_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container{
    margin-top: 1%;
}

.activity-open {
    background-image: url("../images/open.gif");
    background-repeat: no-repeat;
}

.activity-closed {
    background-image: url("../images/closed.gif");
    background-repeat: no-repeat;
}

.activity-comment {
    background-image: url("../images/comment.gif");
    background-repeat: no-repeat;
}

#head-text{
    margin-bottom: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    background-color: #ebf6f8;
    font-size: 145%;
    vertical-align: 60%;
}

#title-block{
    margin-top: 1%;
    margin-left: 4%;
    width: 75%;
}

#tag-line{
    font-size: 100%;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 4%;
}

img.project-activity-image{
    /*height: 145%;*/
    margin-top: 0px;
    margin-left: -55px;
}

.see-more{
    margin-left: 4%;
    margin-bottom: 2%;
}

.see-more a, .see-more a:hover{
    color: black;
    font-size: 100%;
    font-weight: normal;
}

.center-leader{
    font-size: 145%;
    font-weight: bold;
    margin-top: 3%;
    margin-left: 4%;
    margin-bottom: 1%;
}

#project-activity, #meet-the-team, #join-the-team{
    padding: 10px;
}

.project-activity-item{
    display: block;
    margin-left: 10%;
}

.project-activity-item a:hover{
    text-decoration: underline;
}

#team-members .member{
    width: 120px;
    margin: 0 1%;
    float: left;
    min-height: 180px;
    text-align: center;
}

#team-members img {
    border-radius: 10px;
}

#about-the-team{
    display: inline-block;
    margin-top: 2%;
}

.logo {
    margin-top: -25%;
}

.para{
    margin: 0 40px;
}

.logo-text {
    margin-top: 1%;
    font-size: 320%;
}

.outdent img{
    width: 5%;
}

.center-section{
    margin-right: .5%;
    margin-top: 2%;
    border-radius: 10px;
    background-color: #ebf6f8;
}

.center-section h3{
    padding-left: 145%;
}

.center-section .center-content{
    display: block;
    margin-top: 2%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
}

.center-section img{
    vertical-align: top;
    max-width: 100%;
}

.center-text{
    margin-top: 5%;
}

#join-laws{
    font-weight: bold;
}

.emphasis{
    font-size: 120%;
    color: #B0DFE4;
}

#twitter-lead{
    margin-left: 2%;
    margin-top: 15%;
}

#social{
    margin-top: 22px;
    margin-left: 10px;
    padding-left: 10px;
    text-align: center;
}

#social a:hover{
    text-decoration: none;
}

#phone-links{
    display: none;
}

.phone-row-meet-join-activity, .phone-row-external-links, .phone-row-social{
    display: none;
}

.links{
    margin-bottom: 0;
}

.links a{
    color: gray;
}

.links{
    margin-left: 40%;
}

#link-text-meet{
    width: 113px;
    float: right;

}
#link-text-join{
    width: 120px;
    float: right;
}
#link-text-activity{
    width: 134px;
    float: right;
}

.intro {
    margin-bottom: 5%;
    margin-left: 30px;
}

.intro img.arrow {
    float: left;
    margin-left: 10px;
}

#twitter-feed {
    width: 145px;
    float: left;
    margin-top: 0px;
    margin-left: 25px;
}

#twitter-feed p {
    margin-bottom: 0;
}

#twitter-feed .tweeter-info {
    margin-bottom: 12px;
}

#spinner {
    float:none;
    margin:0 auto;
}

.gray {
    color: gray;
}

.left-nav{
    margin-top: 3%;
}

.left-nav img{
    width: 130px;
}

.name{
    margin-top: 10px;
    margin-bottom: 0;
    line-height: 13px;
}

.discipline{
}

.affiliation{
    font-size: small;
    margin-top: 8px;
    line-height: 10px;
}

.title {
    display: inline-block;
    color: black;
    margin-left: 10px;
}

.title:hover{
    text-decoration: underline;
}

.sponsor-row{
    margin-top: 5%;
}

.sponsor-image {
    height: 110px;
    width: 220px;
}

.indented{
    margin-bottom: 4%;
    margin-left: 6%;
}

.indented a{
    color: black;
    text-decoration: none;
    text-wrap:normal;
    overflow-wrap:break-word;
}

.indented a:hover{
    text-decoration: none;
    text-wrap:normal;
    overflow-wrap:break-word;
}

/* Handling for mobile devices*/

/* iPad original */
@media screen and (max-width: 768px) {
    .emphasis{
        font-size: 100%;
    }
    #twitter-lead{
        margin-left: 0%;
    }
    #twitter-feed {
        width: 100px;
        float: left;
        margin-top: 0px;
        margin-left: 2px;
        overflow: hidden;
    }
    #social a img{
        width: 30%;
    }

    #linkspan{
        margin-left: 0;
    }

    #link-text-meet{
        width: 123px;
        float: right;

    }
    #link-text-join{
        width: 130px;
        float: right;
    }
    #link-text-activity{
        width: 144px;
        float: right;
    }
}

/* iPad Retina */
@media screen and (max-width: 1535px) {
    .emphasis{
        font-size: 100%;
    }
    #twitter-lead{
        margin-left: 0%;
    }
    #twitter-feed {
        float: left;
        margin-top: 0px;
        overflow: hidden;
    }
    #linkspan{
        margin-left: 0;
    }
}

/*iPhone Retina size devices (Also scales for original iPhone size devices) */
@media screen and (max-width: 639px) {

    .logo {
        margin-top: 0;
    }

    .para{
        margin-left: 10%;
    }

    .intro {
        margin-bottom: 1%;
    }

    #mobile-twitter-feed{
        display: block;
    }

    #title-block{
        margin-top: 1%;
    }

    #tag-line{
        font-size: 70%;
    }

    #thanks-leader{
        width: 90%;
    }

    img.project-activity-image{
        margin-top: 0px;
        margin-left: -30px;
    }

    #sponsors{
        width: 85%;
    }

    .sponsor-image img{
        margin-left:0;
    }

    #team-members .member{
        width: 70px;
        margin: 0 20px;
        font-size: 10px;
        line-height: 10px;
        min-height: 180px;
    }



    #phone-links{
        display: block;
        margin-bottom: 5%;
    }

    #linkspan{
        display: none;
    }
    .phone-row-external-links{
        display: block;
    }

    .phone-row-meet-join-activity{
        display: block;
    }

    .phone-row-meet-join-activity phone-link{
        text-align: center;
    }

    .phone-row-social{
        display: block;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 10%;
    }

    .phone-link{
        text-align: center;
        margin-top: 10%;
        width: 33%;
        float: right;
    }

    .phone-link .link-title{
        display: block;
        text-align: center;
    }

    span.phone-link a{
        font-size: 80%;
    }

    span.phone-link a img{
        width: 50%
    }

    #head-text{
        width: 100%;
    }

    div.span8.center-section{
        width: 100%;
    }

    div.span2.left-nav{
        display: none;
    }

    #social {
        display: none;
    }

    .phone-row-social a:hover{
        text-decoration: none;
    }

    #twitter-lead{
        display: none;
    }

    #mobile-twitter-lead{
        margin-top: 5%;
        text-align: center;
        display: block;
    }

    #twitter-feed{
        display: none;
    }
    #link-text-meet{
        width: 113px;
        float: none;

    }
    #link-text-join{
        width: 120px;
        float: none;
    }
    #link-text-activity{
        width: 134px;
        float: none;
    }
}